################# FUNCTIONS #################

# cd + ls
d () { z "$@" && exa -l -h --sort=modified;}
cdir () { cd "$@" && exa -l -h -a --sort=modified;}

# edit on create
mkf () { touch "$@" && nvim "$@"}

# cd on mkdir
mkd () { mkdir "$@" && d "$@" }

# markdown compile
cplmd () { 
    inp=$1
    filtered=${inp%.*}
    pandoc -f markdown-implicit_figures -t pdf "$inp" > "$filtered.pdf";
    saf "$filtered.pdf"
    open -a "iTerm"
}

# c++ compile
cpp () {
    inp=$1
    filtered=${inp%.*}
    g++ -std=c++11 -o $filtered $inp && ./$filtered
}

# rm alt
del () {
    mv "$@" ~/.config/zsh/.trash/
}

# faster git
fcp () {
    git add "$1"
    git commit -m "$2"
    git push
}

# pipe git show into cat (or bat)
gshow () {
    git  show "$@" | bat -l rs
}

# git diff piped into fzf
gdiff () {
    preview="git diff $@ --color=always -- {-1}"
    git diff $@ --name-only | fzf -m --ansi --preview $preview
}

# Pick commit from git log
getlog() {
    glog | gum choose | awk '{print $2}'
}

# pipe git show for a specific commit
gshowc () {
    git show $(getlog) | bat -l rs
}

# search directories globally or locally
sd () {
    cecho -c green -t "Choose scope of search (default: Global (~) [fast])"
    declare -a opts
    opts=("Global (~) [fast]" "Global (~)" "Local (.)" "System (/) [slow]")
    g_or_l=$(gum choose ${opts[@]})
    base_dir="~"
    if [[ $g_or_l = "${opts[1]}" ]]; then
        find_out=$(fd --hidden --type directory --base-directory ~ --exclude .git --exclude miniconda3 --exclude node_modules --exclude Application\ Support --exclude .gradle --exclude '*cache*' --exclude 'python*' --exclude WebKit --exclude .vscode --exclude org --exclude '*env' --exclude bin | fzf)
    elif [[ $g_or_l = "${opts[2]}" ]]; then
        find_out=$(fd --hidden --type directory --base-directory ~ | fzf)
    elif [[ $g_or_l = "${opts[3]}" ]]; then
        find_out=$(fd --hidden --type directory --base-directory . | fzf)
    elif [[ $g_or_l = "${opts[4]}" ]]; then
        cecho -c yellow -t "WARNING: You are searching the entire system. This may take a while"
        cecho -c yellow -t "This operation needs sudo privilages"
        # Get sudo password
        GETPASS=$(gum input --password --placeholder "Enter sudo password")
        # Check validity of password
        valid=$(python3 $SCRIPTS/utils/validate --password=$GETPASS)
        if [[ $valid = 1 ]]; then    
            find_out=$(echo $GETPASS | sudo -S fd --hidden --type directory --max-depth 20 --base-directory / | fzf)
        else
            echo "Incorrect sudo password."
        fi
    else
        cecho -c red -t "No scope selected!"
    fi
    curr_dir=$(pwd)
    if [[ $find_out ]]; then
        if [[ $g_or_l = ${opts[1]} || $g_or_l = ${opts[2]} ]]; then
            cdir ~/$find_out
        elif [[ $g_or_l = ${opts[3]} ]]; then
            cdir ./$find_out
        elif [[ $g_or_l = ${opts[4]} ]]; then
            cdir /$find_out
        fi
    else
        cecho -c red -t "No directory selected!"
        cd $curr_dir
    fi
}

# return any file path on ~, narrow search by directory, then by files
gpath () {
    curr_dir=$(pwd)
    find_out=$(fd --hidden --type directory --base-directory ~ | fzf)
    if [[ $find_out ]]; then
        cd ~/$find_out
        get_file=$(fbat)
        complete_path="~/$find_out$get_file"
        echo $complete_path
    else
        echo ""
    fi 
    cd $curr_dir
}

# move any file on ~ path, narrow by directory, then by files
gmv () {
    curr_dir=$(pwd)
    cd
    get_path=$(gpath)
    filtered=".${get_path:1}"
    echo $filtered
    if [[ ! -z "$get_path" ]]; then 
        mv "${filtered}" "${curr_dir}"
    fi
    cd $curr_dir
}

# file preview for vim
vf () {
    selected=""
    if [[ $# -eq 0 ]]; then
        selected=$(fd --hidden --exclude .git --exclude miniconda3 --exclude node_modules --exclude Application\ Support --exclude .gradle --exclude '*cache*' --exclude WebKit --exclude .vscode --exclude org --exclude '*env' --exclude bin | fzf --preview 'bat {-1} --color=always')
    fi
    for flag in "$@"; do
        case $flag in
            -l | --loose) # Start
                selected=$(fd --hidden | fzf --preview 'bat {-1} --color=always')
                ;;
            -h | --help) # Help
                echo "Usage: vf [OPTION]"
                echo "Options:"
                echo "  -l    Loose search"
                echo "  -h    Display this help message"
                echo "  *     Default search" 
                ;;
        esac
    done
    curr_dir=$(pwd)
    if [[ $selected ]]; then
        v $selected
    else
        cd $curr_dir
    fi
}

# kill vs code process
kvs () {
    ps aux | grep -i vscode | less
    pkill -i vscode
}

# list and choose tmux sessions
tlst () {
    SESSION=$(tmux list-sessions -F \#S | gum filter --placeholder "Pick session...")
    tmux switch-client -t $SESSION || tmux attach -t $SESSION
}

tn () {
    tmux new-session -d -s $1
    tmux switch -t $1
}

sm () {
    curr_dir=$(pwd)
    cd && cd $SCRIPTS/tmux/session_management/
    python3 session_manager_script.py
    cd && cd $curr_dir
}

################# TEMP SCRIPTS #################

# temporary data 8 test scripts
fix_tests () { 
    for file in tests/*.py; do \
        { echo 'OK_FORMAT = True'; cat "$file" } > "$file.tmp" && mv "$file.tmp" "$file"
    done
}

# temporary cs161 scripts summer 2023
hive () {
    ssh "cs161-aam@hive${1}.cs.berkeley.edu"
}

# Decal Linux VM Scripts

linux () {
    cecho -c yellow -t "WARNING: You are running the Azure Linux VM w/o the appropriate start/stop wrapper. This may lead to unintentional charges on your Azure account."
    ssh -i $LVMKEY kurt@$LVMIP
}

# Login to decal vm
dvm () {
    ssh kartavya@kartavya.decal.xcf.sh
}

# Move to linux vm
scplinux () {
    scp -i $LVMKEY $1 kurt@$LVMIP:$2
}

# Log new job application
logjob () {
    cwd=$(pwd)
    cd ~/Documents/Code/trapp
    source start.sh
    cd $cwd
}

# Execute command on CSM docker container
dexec () {
    docker compose exec django $@ 
}

